<section class="section-navbar">
  <div class="container">
    <header class="navbar">
      <div class="navbar-brand"><img src="assets/media/images/rachels-portfolio-logo.svg" alt="Rachel's Portfolio Logo" /></div>
      <ul class="navbar-menu">
        <li class="navbar-menu-link"><a href="#">About Me</a></li>
        <li class="navbar-menu-link"><a href="#">My Journey</a></li>
        <li class="navbar-menu-link"><a href="#">My Work</a></li>
        <li class="navbar-menu-link"><a href="#">Contact</a></li>
      </ul>
      <div class="navbar-cta">
        <button class="btn-primary">Resume</button>
      </div>
    </header>
  </div>
</section>
