<section class="section-navbar">
  <div class="container">
    <header class="navbar">
      <img src="assets/media/images/rachelliacs-logo.svg" class="navbar-brand" alt="Rachel's Portfolio Logo" />
      <ul class="navbar-menu">
        <li class="navbar-menu-link"><a href="#section-about">About Me</a></li>
        <li class="navbar-menu-link"><a href="#section-journey">My Journey</a></li>
        <li class="navbar-menu-link"><a href="#section-works">My Work</a></li>
        <li class="navbar-menu-link"><a href="#section-contact">Contact</a></li>
      </ul>
      <div class="navbar-cta">
        <button class="btn-primary">Resume</button>
      </div>
    </header>
  </div>
</section>
