.page-wrap {
    position: relative;
    min-height: 100vh;
}

section, .section {
    padding: 80px 0px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 64px;
}

.container-inner {
    padding: 0px 64px;
}

.section-content {
    margin-top: 48px;
}