.section-navbar {
    padding: 24px 0px;
    position: sticky;
    inset: 0% auto auto;
    z-index: 1000;
    background-color: $body-bg;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: space-between;

    &-brand {
        max-height: 20px;
        width: auto;
        margin: 0;
        padding: 0;
    }
    &-menu {
        list-style-type: none;
        list-style-position: inside;
        margin: 0;
        padding: 0;

        display: inline-flex;
        column-gap: 32px;
        
        &-link {
            @extend %fs-md-medium;
            
            a {
                color: $color-secondary;
            }
        }
    }
}